<div class="min-h-screen flex items-center justify-center bg-blue-400 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8 bg-white p-10 rounded-xl shadow">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Sign In to Your Account
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Or
        <%= link_to "create a new account", signup_path, class: "font-medium text-blue-600 
        hover:text-blue-500" %>
      </p>
    </div>

    <%= form_with(url: session_path, class: 'mt-8 space-y-6') do |f| %>
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <%= f.label :email_or_username, class: "sr-only" %>
          <%= f.text_field :email_or_username, autofocus: true, required: true, 
          placeholder: "Email address or username", class: "appearance-none rounded-none 
          relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 
          text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 
          focus:border-blue-500 focus:z-10 sm:text-sm" %>
        </div>
        <div>
          <%= f.label :password, class: "sr-only" %>
          <%= f.password_field :password, required: true, placeholder: "Password", 
          class: "appearance-none rounded-none relative block w-full px-3 py-2 border 
          border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none 
          focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm" %>
        </div>
      </div>

      <div>
        <%= f.submit "Sign In", class: "group relative w-full flex justify-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 shadow-lg shadow-blue-500/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
      </div>
    <% end %>
  </div>
</div>
