<%= form_with(model: [@category, @task], local: false, data: { turbo: "false" }, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4") do |f| %>
  <div class="mb-4">
    <%= f.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-6">
    <%= f.label :description, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.text_area :description, rows: 7, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-6">
    <%= f.label :deadline, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.datetime_field :deadline, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-6">
    <%= f.label :completed, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.check_box :completed, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="flex items-center justify-between">
    <%= f.submit @task.new_record? ? 'Create' : 'Update', class: "text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 shadow-lg shadow-blue-500/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
  </div>
<% end %>
