

    <%= form_with(model: @user, local: false, data: { turbo: "false" }, class: 'mt-8 space-y-6') do |f| %>
      <%= render "shared/errors", object: @user %>

      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <%= f.label :username, class: "sr-only" %>
          <%= f.text_field :username, autofocus: true, required: true, placeholder: "Username (Alphanumeric characters only!)", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm" %>
        </div>
        <div>
          <%= f.label :name, class: "sr-only" %>
          <%= f.text_field :name, required: true, placeholder: "Full Name", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm" %>
        </div>
        <div>
          <%= f.label :email, class: "sr-only" %>
          <%= f.email_field :email, required: true, placeholder: "Email address", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm" %>
        </div>
        <div>
          <%= f.label :password, class: "sr-only" %>
          <%= f.password_field :password, required: true, placeholder: "Password", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm" %>
        </div>
        <div>
          <%= f.label :password_confirmation, "Confirm Password", class: "sr-only" %>
          <%= f.password_field :password_confirmation, required: true, placeholder: "Confirm Password", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm" %>
        </div>
      </div>

      <div>
        <%= f.submit (@user.persisted? ? "Update Account" : "Create Account"), class: " cursor-pointer group relative w-full flex justify-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 shadow-lg shadow-blue-500/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
      </div>
    <% end %>

