<div class="container mx-auto px-6 py-8 ">
  <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">Journal</h2>

  <% urgent_categories = @categories.select { |category| category.tasks.where("date(deadline) = ? AND completed = ?", Date.today, false).any? } %>
  <% if urgent_categories.any? %>
    <div class="bg-red-500 text-white p-4 mb-6 rounded">
      <p>You have urgent tasks today in these categories:</p>
      <ul>
        <% urgent_categories.each do |category| %>
          <li><%= link_to category.name, category_path(category), class: 'text-gray-100 font-bold hover:text-gray-300' %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user %>
    <div class="flex justify-end mb-4">
      <%= link_to "<i class='fas fa-edit'></i>".html_safe, new_category_path, class: "text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 shadow-lg shadow-lime-500/50 font-medium rounded-lg text-sm px-4 py-2.5 text-center mr-2 mb-2" %>
    </div>
  <% end %>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <% @categories.each do |category| %>
      <div class="overflow-hidden shadow-lg rounded-lg h-auto md:h-60 w-60 md:w-80 cursor-pointer m-auto">
        <a href="<%= category_path(category) %>" class="w-full block h-full">
          <div class="bg-gray-800 w-full p-4 h-full hover:bg-gray-900">
            <h2 class="text-white font-bold text-2xl mb-2"><%= category.name %></h2>
            <% if category.tasks.where("date(deadline) = ? AND completed = ?", Date.today, false).any? %>
              <p class="text-red-600">You have urgent tasks today!</p>
            <% end %>
            <div class="text-gray-300  font-normal text-base h-full multi-column">
              <% category.tasks.each do |task| %>
                <% if task.deadline&.today? && !task.completed %>
                  <p class="text-red-600"><%= task.name %></p> 
                <% else %>
                  <p><%= task.name %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
